<div class="container col-12 col-md-6 col-lg-4">
  <div class="card border-dark mb-3">
    <div class="card-header p-0">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="iframe-fluid" src="<%= movie.url %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="card-body">
      <a href="#" class="btn btn-block btn-secondary">視聴済みにする</a>
      <p class="card-title mt-3 mb-5">レベル <%= movie_counter + 1 %> : <%= movie.title %></p>
    </div>
  </div>
</div>
