<%= render partial: "layouts/header"%>
<h1 class="text-center">Ruby/Rails 動画</h1>
<div><br>
</div>
<div class="container">
  <div class="card-deck">
    <div class="card border-dark">
      <iframe class="iframe-fluid" src="https://www.youtube.com/embed/iFMNUM2Q9mg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="card-body">
        <a href="#" class="btn btn-block btn-secondary">視聴済みにする</a>
        <p class="card-text mt-3 mb-5">Lv.1 : 人生逆転サロンの活用方法</p>
      </div>
    </div>
    <div class="card border-dark">
      <iframe class="iframe-fluid" src="https://www.youtube.com/embed/x_KeaEUr3jo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="card-body">
        <a href="#" class="btn btn-block btn-secondary">視聴済みにする</a>
        <p class="card-text mt-3 mb-5">Lv.2 : Slackの使い方</p>
      </div>
    </div>
    <div class="card border-dark">
      <iframe class="iframe-fluid" src="https://www.youtube.com/embed/Outcx4StSyU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="card-body">
        <a href="#" class="btn btn-block btn-secondary">視聴済みにする</a>
        <p class="card-text mt-3 mb-5">Lv.3 : プログラミングを学習するための基礎知識</p>
      </div>
    </div>
  </div>
  <div><br>
  </div>
  <div class="card-deck">
    <div class="card border-dark">
      <iframe class="iframe-fluid" src="https://www.youtube.com/embed/cdz-cs_kYto" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="card-body">
        <a href="#" class="btn btn-block btn-secondary">視聴済みにする</a>
        <p class="card-text mt-3 mb-5">Lv.4 : Gitの基本</p>
      </div>
    </div>
    <div class="card border-dark">
      <iframe class="iframe-fluid" src="https://www.youtube.com/embed/JispFS6zeDw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="card-body">
        <a href="#" class="btn btn-block btn-secondary">視聴済みにする</a>
        <p class="card-text mt-3 mb-5">Lv.5 : Gitを使ったクローン、プルリク、マージの流れについて解説</p>
      </div>
    </div>
    <div class="card border-dark">
      <iframe class="iframe-fluid" src="https://www.youtube.com/embed/FIfbOSy1Bzg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="card-body">
        <a href="#" class="btn btn-block btn-secondary">視聴済みにする</a>
        <p class="card-text mt-3 mb-5">Lv.6 : ソースコードをリモートリポジトリにプッシュするときの流れ</p>
      </div>
    </div>
  </div>
  <div><br>
  </div>
  <div class="card-deck">
    <div class="card border-dark">
      <iframe c src="https://www.youtube.com/embed/BVv2JNnkKfU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="card-body">
        <a href="#" class="btn btn-block btn-secondary">視聴済みにする</a>
        <p class="card-text mt-3 mb-5">Lv.7 : Rubyで使用する主なクラスについて</p>
      </div>
    </div>
    <div class="card border-dark">
      <iframe class="iframe-fluid" src="https://www.youtube.com/embed/TFrYp4J6KLY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="card-body">
        <a href="#" class="btn btn-block btn-secondary">視聴済みにする</a>
        <p class="card-text mt-3 mb-5">Lv.8 : putsについて</p>
      </div>
    </div>
    <div class="card border-dark">
      <iframe class="iframe-fluid" src="https://www.youtube.com/embed/U3yqlU7HGnk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="card-body">
        <a href="#" class="btn btn-block btn-secondary">視聴済みにする</a>
        <p class="card-text mt-3 mb-5">Lv.9 : 変数について</p>
      </div>
    </div>
  </div>
  <div><br>
  </div>
  <div class="card-deck">
    <div class="card border-dark">
      <iframe class="iframe-fluid" src="https://www.youtube.com/embed/1jMlnGwHiXo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="card-body">
        <a href="#" class="btn btn-block btn-secondary">視聴済みにする</a>
        <p class="card-text mt-3 mb-5">Lv.10 : Hello World アプリの解説（実践的なコントローラの作り方）</p>
      </div>
    </div>
    <div class="card border-dark">
      <iframe class="iframe-fluid" src="https://www.youtube.com/embed/b_NlIEAQkoo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="card-body">
        <a href="#" class="btn btn-block btn-secondary">視聴済みにする</a>
        <p class="card-text mt-3 mb-5">Lv.11 : resourcesを使わないCRUDアプリの解説</p>
      </div>
    </div>
    <div class="card border-dark">
      <iframe class="iframe-fluid" src="https://www.youtube.com/embed/QWixLhP62M8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="card-body">
        <a href="#" class="btn btn-block btn-secondary">視聴済みにする</a>
        <p class="card-text mt-3 mb-5">Lv.12 : resourcesを使ったCRUDアプリの解説</p>
      </div>
    </div>
  </div>
  <div><br>
  </div>
  <div class="card-deck">
    <div class="card border-dark">
      <iframe class="iframe-fluid" src="https://www.youtube.com/embed/dmkzIosRytI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="card-body">
        <a href="#" class="btn btn-block btn-secondary">視聴済みにする</a>
        <p class="card-text mt-3 mb-5">Lv.13 : デバッグツールの使い方</p>
      </div>
    </div>
    <div class="card border-dark">
      <iframe class="iframe-fluid" src="https://www.youtube.com/embed/KqOoZQoJTG8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="card-body">
        <a href="#" class="btn btn-block btn-secondary">視聴済みにする</a>
        <p class="card-text mt-3 mb-5">Lv.14 : CSVデータインポートアプリの解説</p>
      </div>
    </div>
    <div class="card border-dark">
      <iframe class="iframe-fluid" src="https://www.youtube.com/embed/EntRvD_KSNA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="card-body">
        <a href="#" class="btn btn-block btn-secondary">視聴済みにする</a>
        <p class="card-text mt-3 mb-5">Lv.15 : Rakeタスクの実装</p>
      </div>
    </div>
  </div>
  <div><br>
  </div>
  <div class="card-deck">
    <div class="card border-dark">
      <iframe class="iframe-fluid" src="https://www.youtube.com/embed/AIUsm87NyaM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="card-body">
        <a href="#" class="btn btn-block btn-secondary">視聴済みにする</a>
        <p class="card-text mt-3 mb-5">Lv.16 : Deviseを使ったログイン機能の実装</p>
      </div>
    </div>
    <div class="card border border-0 border-primary">
    </div>
    <div class="card border border-0 border-primary">
    </div>
  </div>
</div>
