<%# ヘッダー完成後に下記でヘッダー部分のテンプレートを呼ぶ。 %>
<%# <%= render partial: "layouts/_header.html.erb"%>

<h1 class="text-center mt-2 mb-4">Ruby/Rails <br class="d-sm-none">
  テキスト教材</h1>
<div class="row">
  <%= render partial: "text", collection: @texts %>
</div>